*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: #002047;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 95%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 2rem;
}

header p {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 940px;
}

.welcome {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: #279CCF;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 9px 50px;
  border: 4px solid #279CCF;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.welcome button:hover {
  color: white;
  background-color: #279CCF;
}

.welcome button:focus {
  outline: 0;
}

.start {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start p {
  font-size: 2rem;
  font-weight: 700;
}

.start div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 640px) {
  .start div {
    flex-direction: column;
    align-items: center;
  }
}

.start div button {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: transparent;
  transition: background-color 300ms ease;
  border: 4px solid gray;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
}

.start div button:hover {
  color: white;
  background: gray;
}

.start div button:focus {
  outline: 0;
}

.start .active {
  border-color: #279CCF;
  color: #279CCF;
}

.start .active:hover {
  background: #279CCF;
  color: white;
}

@media (max-width: 640px) {
  .start div button:first-of-type {
    margin-bottom: 20px;
  }
}

.next-btn {
  margin: 30px 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: #279CCF;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 9px 50px;
  border: 4px solid #279CCF;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.next-btn:hover {
  color: white;
  background-color: #279CCF;
}

.next-btn:focus {
  outline: 0;
}

.info form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.info form input {
  width: 35%;
  height: 35px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
}

@media (max-width: 640px) {
  .info form input {
    width: 75%;
  }
}

.info form input:focus {
  outline: 0;
  border-color: #279CCF;
}

.info form input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.info form select {
  width: 35%;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 5px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
}

@media (max-width: 640px) {
  .info form select {
    width: 75%;
  }
}

.info form select:focus {
  outline: 0;
  border-color: #279CCF;
}

.info form p {
  font-size: 1.6rem;
  font-weight: 600;
}

.info .mobility-btns {
  width: 35%;
  display: flex;
  justify-content: center;
}

.info .mobility-btns button {
  cursor: pointer;
  background: transparent;
  border: 3px solid gray;
  border-left: 1.5px solid gray;
  border-right: 1.5px solid gray;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0 10.7%;
  transition: border-color 300ms ease;
  transition: background-color 300ms ease;
}

.info .mobility-btns button:focus {
 outline: 0;
}

.info .mobility-btns button:hover {
  background-color: lightgray;
 }

.info .mobility-btns button:first-child {
  background: transparent;
  border: 3px solid gray;
  border-right: 1.5px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info .mobility-btns button:first-child:hover {
  background-color: lightgray;
 }

.info .mobility-btns button:last-child {
  background: transparent;
  border: 3px solid gray;
  border-left: 1.5px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info .mobility-btns button:last-child:hover {
  background-color: lightgray;
 }

.info .mobility-btns .active {
   border-color: #279CCF;
   color: #279CCF;
 }

.info .mobility-btns .active:hover {
  color: black;
  background-color: #d7ebf3;
}

.info .mobility-btns .active:first-child {
  border-color: #279CCF;
}

.info .mobility-btns .active:first-child:hover {
  color: black;
  background-color: #d7ebf3;
}

.info .mobility-btns .active:last-child {
  border-color: #279CCF;
}

.info .mobility-btns .active:last-child:hover {
  color: black;
  background-color: #d7ebf3;
}

.days {
  display: flex;
}

.time-slots {
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.time-slots::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.slot, .selected-slot {
  user-select: none;
}

.selected-slot {
  background: red;
}