*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #002047;
}

header {
  background: #002047;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 95%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: #002047;
}

p {
  font-size: 1.8rem;
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 2rem;
}

header p {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 940px;
}

.welcome {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #279ccf;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 9px 50px;
  border: 4px solid #279ccf;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.welcome button:hover {
  color: white;
  background-color: #279ccf;
}

.welcome button:focus {
  outline: 0;
}

.start {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start p {
  font-size: 2rem;
  font-weight: 700;
}

.start div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 640px) {
  .start div {
    flex-direction: column;
    align-items: center;
  }
}

.start div button {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: transparent;
  transition: background-color 300ms ease;
  border: 4px solid gray;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
}

.start div button:hover {
  color: white;
  background: gray;
}

.start div button:focus {
  outline: 0;
}

.start .active {
  border-color: #279ccf;
  color: #279ccf;
}

.start .active:hover {
  background: #279ccf;
  color: white;
}

@media (max-width: 640px) {
  .start div button:first-of-type {
    margin-bottom: 20px;
  }
}

.next-btn {
  margin: 30px 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #279ccf;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 9px 50px;
  border: 4px solid #279ccf;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.next-btn:hover {
  color: white;
  background-color: #279ccf;
}

.next-btn:focus {
  outline: 0;
}

.info > p {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.info form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.info form input {
  width: 35%;
  height: 35px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
  color: #002047;
}

@media (max-width: 640px) {
  .info form input {
    width: 75%;
  }
}

.info form input:focus {
  outline: 0;
  border-color: #279ccf;
}

.info form input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.info form select {
  width: 35%;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 5px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
  color: #002047;
}

@media (max-width: 640px) {
  .info form select {
    width: 75%;
  }
}

.info form select:focus {
  outline: 0;
  border-color: #279ccf;
}

.info form p {
  font-size: 1.6rem;
  font-weight: 600;
}

.info .mobility-btns {
  width: 35%;
  display: flex;
  justify-content: center;
}

.info .mobility-btns button {
  cursor: pointer;
  background: transparent;
  border: 3px solid gray;
  border-left: 1.5px solid gray;
  border-right: 1.5px solid gray;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0 10.7%;
  transition: border-color 300ms ease;
  transition: background-color 300ms ease;
}

.info .mobility-btns button:focus {
  outline: 0;
}

.info .mobility-btns button:hover {
  background-color: lightgray;
}

.info .mobility-btns button:first-child {
  background: transparent;
  border: 3px solid gray;
  border-right: 1.5px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info .mobility-btns button:first-child:hover {
  background-color: lightgray;
}

.info .mobility-btns button:last-child {
  background: transparent;
  border: 3px solid gray;
  border-left: 1.5px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info .mobility-btns button:last-child:hover {
  background-color: lightgray;
}

.info .mobility-btns .active {
  border-color: #279ccf;
  color: white;
  background-color: #279ccf;
}

.info .mobility-btns .active:hover {
  color: #002047;
  background-color: #d7ebf3;
}

.info .mobility-btns .active:first-child {
  border-color: #279ccf;
  color: white;
  background-color: #279ccf;
}

.info .mobility-btns .active:first-child:hover {
  color: #002047;
  background-color: #d7ebf3;
}

.info .mobility-btns .active:last-child {
  border-color: #279ccf;
  color: white;
  background-color: #279ccf;
}

.info .mobility-btns .active:last-child:hover {
  color: #002047;
  background-color: #d7ebf3;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time p {
  font-size: 1.6rem;
  text-align: center;
}

.time label {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.time select {
  width: 35%;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 5px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
  color: #002047;
}

@media (max-width: 640px) {
  .time select {
    width: 75%;
  }
}

.time select:focus {
  outline: 0;
  border-color: #279ccf;
}

.days {
  position: relative;
  left: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

@media (max-width: 430px) {
  .days {
    width: 80%;
  }
}

.days h3 {
  text-align: center;
  margin-bottom: 5px;
}

.time-slots-container {
  overflow: hidden;
  border: 3px solid #279ccf;
  border-radius: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.time-slots {
  height: 275px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.time-slots::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.slot {
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #279ccf;
}

.slot:hover {
  background: #bfe6f7;
}

.selected-slot {
  cursor: pointer;
  user-select: none;
  background: #279ccf;
  color: white;
  border-bottom: 1px solid #279ccf;
  text-align: center;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 1.3rem;
  border-top: 2px solid #279ccf;
  color: #279ccf;
  user-select: none;
}

@media (max-width: 430px) {
  .scroll {
    display: none;
  }
}

.slick-list {
  width: 95%;
}

.slick-slider {
  width: 95% !important;
  display: flex;
  justify-content: center;
}

.slick-track::before {
  width: 95%;
}

.slick-arrow::before {
  color: #279ccf;
}
.slick-active,
.slick-current {
  margin: 0 auto;
}
.slick-slide {
  width: 95%;
}

.slick-slide:focus {
  outline: 0;
}

.slick-next {
  right: -10px;
}

.slick-right {
  left: -15px;
}

.loader {
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.buddy-time {
  display: flex;
  justify-content: space-evenly;
}

.buddy-time-day {
  width: 13%;
}

@media (max-width: 590px) {
  .buddy-time {
    align-items: center;
    flex-direction: column;
  }
  .buddy-time-day {
    width: 80%;
  }
}

.manual {
  cursor: pointer;
  font-weight: 600;
  transition: color 300ms ease;
}

.manual:hover {
  color: red;
}

.confirmed-time {
  text-align: center;
  font-size: 3rem;
  color: #279ccf;
}

.manual-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manual-entry h3 {
  font-size: 3rem;
  margin: 10px 0 30px;
  text-align: center;
}

.manual-entry input {
  width: 200px;
  height: 35px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
  color: #002047;
}

.manual-entry input:focus {
  outline: 0;
  border-color: #279ccf;
}

.manual-entry input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.manual-entry select {
  width: 200px;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 5px;
  border: 3px solid gray;
  border-radius: 10px;
  transition: border-color 300ms ease;
  color: #002047;
}

.manual-entry select:focus {
  outline: 0;
  border-color: #279ccf;
}

.manual-entry p {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 20px;
}

.manual-entry label {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 20px;
}

.manual-entry form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
